/.idea/workspace.xml
/.idea/misc.xml
/.idea/Summarizator.iml
/data/summed_example_text_ru.txt
/data/summed_example_text_eng.txt
/.idea/encodings.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
